Source: goniometer
Section: sound
Priority: optional
Maintainer: Jakob Flierl <jakob.flierl@gmail.com>
Uploaders: Jakob Flierl <jakob.flierl@gmail.com>
Build-Depends: debhelper (>= 9), pkg-config, libsdl2-dev, libsdl2-image-dev
Standards-Version: 3.9.7
Homepage: https://github.com/koppi/goniometer
Vcs-Git: git://github.com/koppi/goniometer.git
Vcs-Browser: https://github.com/koppi/goniometer

Package: goniometer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Audio goniometer
 The goniometer app displays a phase meter of recorded audio.

